<div class="p-fluid">
  <p-card header="Step 1">
    <ng-container [formGroup]="form">
      <!-- Piso -->
      <div class="p-field">
        <label for="piso">Piso</label>
        <div class="p-d-flex">
          <button
            pButton
            type="button"
            icon="pi pi-chevron-left"
            (click)="cambiarPiso(-1)"
          ></button>
          <span>{{ numFloor }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-chevron-right"
            (click)="cambiarPiso(1)"
          ></button>
        </div>
      </div>
      <!-- /Piso -->

      <!-- Reserva -->
      <div class="p-field">
        <label for="reserva">Reserva</label>
        <input
          type="text"
          pInputText
          class="p-inputtext"
          formControlName="reserva"
          placeholder="Escoja un puesto o sala de reuniones en el mapa"
        />
        <small
          *ngIf="formControls.reserva.errors?.required && submitted"
          class="p-error"
          >Escoja un puesto o sala en el mapa</small
        >
      </div>
      <!-- /Reserva -->

      <!-- Personas Reserva -->
      <div class="p-field">
        <label for="personasReserva">Personas Reserva</label>
        <div class="p-d-flex">
          <button
            pButton
            type="button"
            icon="pi pi-chevron-left"
            (click)="cambiarPersonas(-1); removePeople()"
          ></button>
          <span>{{ numPeople }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-chevron-right"
            (click)="cambiarPersonas(1); addPeople()"
          ></button>
        </div>
      </div>
      <!-- /Personas Reserva -->

      <!-- Datos Personas -->
      <ng-container formArrayName="datosAcompanante">
        <ng-container
          *ngFor="let peopleReservation of peopleData.controls; let i = index"
        >
          <div class="p-field">
            <label for="peopleReservation">Datos Personas</label>
            <div [formGroupName]="i">
              <input
                type="text"
                pInputTex
                class="p-inputtext"
                formControlName="correo"
                placeholder="Correo"
              />

              <small
                *ngIf="
                  (peopleReservation.get('correo')?.touched &&
                    peopleReservation.get('correo')?.errors) ||
                  (submitted && peopleReservation.get('correo')?.errors)
                "
                class="p-error"
                >Correo inválido</small
              >
              <div class="p-field_checkbox">
                <input
                  class="checkMember"
                  type="checkbox"
                  checked="false"
                  formControlName="miembroOrganizacion"
                />
                <label for="esDeOrganizacion">Es de la organizacion</label>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- /Datos Personas -->

      <!-- Medio de transporte -->
      <div class="p-field">
        <label for="medioTransporte">Medio de transporte</label>
        <div class="p-d-flex">
          <button
            pButton
            type="button"
            icon="pi pi-chevron-left"
            (click)="cambiarTransporte(-1)"
          ></button>
          <span>{{ transportModeName }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-chevron-right"
            (click)="cambiarTransporte(1)"
          ></button>
        </div>
      </div>
      <!-- /Medio de transporte -->

      <!-- Placa Vehiculo -->
      <div *ngIf="showLicensePlate" class="p-field">
        <label for="placaMedioTransporte"
          >Placa de tu {{ transportModeName }}
        </label>

        <p-inputMask
          placeholder="XXX-###"
          formControlName="placa"
          mask="aaa-99*"
          [autoClear]="false"
          [style]="{ 'text-transform': 'uppercase' }"
        ></p-inputMask>
      </div>
      <small
        *ngIf="formControls.placa?.touched && formControls.placa.errors"
        class="p-error"
        >Placa inválida</small
      >

      <!-- /Placa Vehiculo -->
    </ng-container>
  </p-card>
</div>
