<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center p-mb-4">

    <h3> {{ viewTitle }} </h3>

</div>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <p> Nombre </p>
        <p><strong> {{ workstation?.nombre }} </strong></p>
    </div>
    <div class="p-field p-col">
        <p> Dominio Tipo </p>
        <p><strong> {{ workstation?.dominioTipo }} </strong></p>
    </div>
</div>

<p-divider></p-divider>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <p> Estado dominio </p>
        <p><strong> {{ workstation?.dominioEstado }} </strong></p>
    </div>
    <div class="p-field p-col">
        <p> Id piso </p>
        <p><strong> {{ workstation?.idPiso }} </strong></p>
    </div>
    <div class="p-field p-col">
        <p> Nombre Piso </p>
        <p><strong> {{ workstation?.nombrePiso }} </strong></p>
    </div>
</div>