<!-- <p-card 
    header="Sucursales"
    subheader="Administración">
    
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-start p-ai-center">
        <a 
            pButton 
            [routerLink]="routeName.BranchesList" 
            class="button-link p-button-primary p-m-1" 
            label="Listado">
        </a>
        <a 
            pButton 
            [routerLink]="routeName.BranchAdd" 
            class="button-link p-button-success p-m-1" 
            label="Agregar">
        </a>
    </div>

    <p-divider></p-divider>

    <router-outlet></router-outlet>

</p-card> -->
<router-outlet></router-outlet>