<p-menubar>
    <ng-template pTemplate="end">
        <button 
            pButton 
            pRipple 
            type="button" 
            class="p-button-rounded p-button-secondary p-button-text">
            <i 
                class="pi pi-bell p-text-secondary" 
                pBadge 
                style="font-size: 1.25rem" 
                value="2" 
                severity="danger">
            </i>
        </button>
        <p-avatar 
            [image]="'assets/images/icons/calendar.svg'" 
            styleClass="p-mr-2" 
            shape="circle">
        </p-avatar>
    </ng-template>
</p-menubar>
