:host ::ng-deep {  
    .ui-menubar{
    background-color: white;
    box-shadow: 1px 1px 8px gray;
    width: 100%;
    };

  }
  .logoDis{
      padding: 1px;
      margin: 10px;
      right: 10px;
      width: 150px;
  }
  .num{
      left: 15px;
      bottom: 7px;
  }
  .p-button-secondary{
      right: 20px;
  }