:host ::ng-deep {
  .ui-menubar {
    display: none;
    background-color: white;
    box-shadow: 1px 1px 8px gray;
    max-width: 120rem;
  }
}

.num {
  left: 15px;
  bottom: 7px;
}

.p-button-secondary {
  right: 20px;
}
