.container{    
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgb(6, 102, 251) 43.55%, rgb(255, 255, 255) 43.55%);
    margin-left: -8px;
    border:none;
}

.panel{
    height: 14vh; 
    z-index: 1;
    background-color: rgba(64, 64, 64, 0.6);
    width: 70vw;
    margin-left: 12vw;    
    backdrop-filter: blur(30px);
    font-weight: bold;    
    color: white;
}


.color{
    color: #777777;
}

.colordate{
    color: #777777;
    margin-bottom: 2.2rem;
}

.postcolor{
    margin-bottom: 0;
}
span{
    color: #98ee83;
}