.container{    
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgb(6, 102, 251) 43.55%, rgb(255, 255, 255) 43.55%);
    margin-left: -8px;
    border:none;
}

.panel{
    height: 14vh; 
    z-index: 1;
    background-color: rgba(64, 64, 64, 0.6);
    width: 70vw;
    margin-left: 11.7vw;    
    backdrop-filter: blur(30px);
    font-weight: bold;    
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width:530px){
    .panel{
        height: 125px;
        width:102%;
        position: fixed;
        font-size: 12px;
    }
    .asesoftware {
        display: none;
    }
    .p-col-3 {
        width: 25%;
    }
}

.color{
    color: #777777;
}

.colordate{
    color: #777777;
    margin-bottom: 2.2rem;
}

.postcolor{
    margin-bottom: 0;
}

.asesoftware {
    width: 4.5rem;
    margin-bottom: 28%;
}

.p-col-3 {
    width: 22%;
}