<div class="p-fluid">

  <div class="p-mb-4 p-d-flex jc-start-ai-center">
    <p class="p-my-0 p-mr-4 description font-size-small">Fecha de reserva</p>
    <img 
      src="assets/images/icons/minus-gray.svg" 
      alt="step icon" />
  </div>

  <ng-container [formGroup]="form">

    <div class="p-field">
      <label 
        class="label font-size-small" 
        for="timeonly">
        Periodo de tiempo por bloques
      </label>
      <div class="p-col">
        <app-time-period-slider></app-time-period-slider>
      </div>
    </div>

    <div class="p-my-5">
      <app-calendar></app-calendar>
    </div>

    <label class="label font-size-small">Informacion del Aforo</label>
    <br />
    <p class="description font-size-body">
      El aforo para este día es <br> bajo <span style="color: #9cf886;">(65 personas)</span>
    </p>

  </ng-container>

</div>
