<ng-container [formGroup]="form">
    <p-card header="Step 3" [style]="{ width: '25rem', 'margin-bottom': '2em' }">
      <!-- Nombres -->
      <div class="p-field p-grid">
        <label for="nombres" class="p-col-fixed" style="width: 200px"
          >Nombres y Apellidos</label
        >
        <div class="p-col">
          <input
            type="text"
            pInputText
            class="p-inputtext"
            formControlName="nombres"
          />
          <span
            class="text-danger"
            *ngIf="submitted && f.nombres.errors?.required"
            >Por favor ingresar sus nombres</span
          >
        </div>
      </div>
      <!-- /Nombres -->
  
      <!-- Identificacion -->
      <div class="p-field p-grid">
        <label for="identificacion" class="p-col-fixed" style="width: 200px"
          >Identificación</label
        >
        <div class="p-col">
          <input
            type="text"
            pInputText
            class="p-inputtext"
            formControlName="identificacion"
          />
          <span
            class="text-danger"
            *ngIf="submitted && f.nombres.errors?.required"
            >Por favor ingresar su identificacion</span
          >
        </div>
      </div>
      <!-- /Identificacion -->
  
      <!-- Grupo Riesgo -->
      <div class="p-field p-grid">
        <label for="grupoRiesgo" class="p-col-fixed" style="width: 200px"
          >Grupo de riesgo 1</label
        >
        <div class="p-col">
          <input
            type="text"
            pInputText
            class="p-inputtext"
            formControlName="grupoRiesgo"
          />
          <span
            class="text-danger"
            *ngIf="submitted && f.grupoRiesgo.errors?.required"
            >Por favor ingresar sus Grupo de Riesgo</span
          >
        </div>
      </div>
      <!-- /Grupo Riesgo -->
  
      <!-- Convive Grupo Riesgo -->
      <div class="p-field p-grid">
        <label for="convivenciaRiesgo" class="p-col-fixed" style="width: 200px"
          >Convive con grupo de riesgo 1</label
        >
        <div class="p-col">
          <input
            type="text"
            pInputText
            class="p-inputtext"
            formControlName="convivenciaRiesgo"
          />
          <span
            class="text-danger"
            *ngIf="submitted && f.convivenciaRiesgo.errors?.required"
            >Por favor indique si convive con grupo de giesgo 1</span
          >
        </div>
      </div>
      <!-- /Convive Grupo Riesgo -->
  
      <!-- Sintomas -->
      <div class="p-field p-grid">
        <label for="piso" class="p-col-fixed" style="width: 200px"
          >¿Ha tenido sintomas de coronavirus? (Disnea, fiebre, tos seca, dolor de
          garganta, dificultad para identificar olores y sabores</label
        >
        <div class="p-col">
          <button
            pButton
            type="button"
            icon="pi pi-chevron-left"
            (click)="Sintomas()"
          ></button>
          <span>{{ sintomas }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-chevron-right"
            (click)="Sintomas()"
          ></button>
        </div>
       </div>
      <!-- /Sintomas -->
  
      <!-- Descripción Barrio y Recorrido -->
      <textarea
        [rows]="2"
        [cols]="30"
        pInputTextarea
        placeholder="Descripción"
        formControlName="descripcion"
      ></textarea>
      <span
            class="text-danger"
            *ngIf="submitted && f.descripcion.errors?.required"
            >Por favor descripa su trayecto</span
          >
      <!-- /Descripción Barrio y Recorrido -->
    </p-card>
  </ng-container>
  