<div class="p-fluid">
  <p-card header="Step 3">
    <ng-container [formGroup]="form">
      <!-- Nombres -->
      <div class="p-field">
        <label for="nombres">Nombres y Apellidos</label>

        <input
          type="text"
          pInputText
          class="p-inputtext"
          formControlName="nombres"
          [style]="{ 'text-transform': 'uppercase' }"
        />
        <small
                *ngIf="
                  (submitted && f.nombres.errors?.required)
                "
                class="p-error"
                >Se requieren los nombres</small
              >
              
        <!-- <span 
          class="text-danger"
          *ngIf="submitted && f.nombres.errors?.required"
          >Por favor ingresar sus nombres</span
        >-->
      </div>
      <!-- /Nombres -->

      <!-- Identificacion -->
      <div class="p-field">
        <label for="identificacion">Identificación</label>

        <input
          type="text"
          pInputText
          class="p-inputtext"
          formControlName="identificacion"
        />
        <span
          class="text-danger"
          *ngIf="submitted && f.nombres.errors?.required"
          >Por favor ingresar su identificacion</span
        >
      </div>
      <!-- /Identificacion -->

      <!-- Grupo Riesgo -->
      <div class="p-field">
        <label for="grupoRiesgo">Grupo de riesgo 1</label>

        <input
          type="text"
          pInputText
          class="p-inputtext"
          formControlName="grupoRiesgo"
        />
        <span
          class="text-danger"
          *ngIf="submitted && f.grupoRiesgo.errors?.required"
          >Por favor ingresar sus Grupo de Riesgo</span
        >
      </div>
      <!-- /Grupo Riesgo -->

      <!-- Convive Grupo Riesgo -->
      <div class="p-field">
        <label for="convivenciaRiesgo">Convive con grupo de riesgo 1</label>

        <input
          type="text"
          pInputText
          class="p-inputtext"
          formControlName="convivenciaRiesgo"
        />
        <span
          class="text-danger"
          *ngIf="submitted && f.convivenciaRiesgo.errors?.required"
          >Por favor indique si convive con grupo de giesgo 1</span
        >
      </div>
      <!-- /Convive Grupo Riesgo -->

      <!-- Sintomas -->
      <div class="p-field">
        <label for="piso"
          >¿Ha tenido sintomas de coronavirus? (Disnea, fiebre, tos seca, dolor
          de garganta, dificultad para identificar olores y sabores</label
        >

        <button
          pButton
          type="button"
          icon="pi pi-chevron-left"
          (click)="Sintomas()"
        ></button>
        <span>{{ sintomas }}</span>
        <button
          pButton
          type="button"
          icon="pi pi-chevron-right"
          (click)="Sintomas()"
        ></button>
      </div>
      <!-- /Sintomas -->

      <!-- Descripción Barrio y Recorrido -->
      <textarea
        [rows]="2"
        [cols]="30"
        pInputTextarea
        placeholder="Descripción"
        formControlName="descripcion"
      ></textarea>
      <span
        class="text-danger"
        *ngIf="submitted && f.descripcion.errors?.required"
        >Por favor descripa su trayecto</span
      >
      <!-- /Descripción Barrio y Recorrido -->
    </ng-container>
  </p-card>
</div>
