
<div class="margin-reservation p-d-flex p-flex-column p-flex-md-row">
    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
        <h3 class="myReservation">Mis Reservas</h3>
        <app-reservation class="appReservation"></app-reservation>
    </div>
    <div class="calendar p-xl-6 p-lg-6 p-md-12 p-sm-12">
        <app-calendar1></app-calendar1>
    </div>
</div>



<!-- <div class="margin-reservation p-d-flex p-flex-column p-flex-md-row">
    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12 p-col-6 p-mb-2 p-mr-2">
        <h3 class="myReservation">Mis Reservas</h3>
        <app-reservation class="appReservation"></app-reservation>
    </div>
        <div class="calendar p-col-6 p-mb-2 p-mr-2">
    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12 p-ai-center ">
        <h3>Mis Reservas</h3>
        <app-reservation></app-reservation>
    </div>
        <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
            <app-calendar1></app-calendar1>
        </div>
</div> -->