@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$blue-primary: #0666fb;
$dark-navy-blue: #000002;
$red-primary: #fe4e4e;
$pink-primary: #fa729c;
$green-primary: #5ebc00;
$green-secondary: #9cf886;

html,
body {
  font-family: 'Roboto', sans-serif;
  color: $dark-navy-blue;
  font-size: 16px;
  margin: 0% !important;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width:576px) {
  html,body{
    font-size:13px
  }
}

.button-link {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.button-sticky-bottom {
  z-index: 1000;
  position: sticky !important;
  left: 1rem;
  bottom: 1rem;
}

.button_square {
  border-radius: 0;
}

:host ::ng-deep {
  .button_square {
    border-radius: 0;
  }

  .full-height {
    height: 100%;
  }

  .width-15 {
    width:'15rem' !important;
  }
} 

.width-15 {
  width:'15rem' !important;
}

.full-height {
  height: 100%;
}

.p-sidebar-content {
  height: 100%;
}

.jc-start-ai-center {
  justify-content: flex-start !important; 
  align-items: center !important;
}

.font-size-title {
  font-size: 2.25rem !important;
}

.font-size-subtitle {
  font-size: 1.125rem !important;
}

.font-size-body {
  font-size: 1rem !important;
}

.font-size-small {
  font-size: 0.8125rem !important;
}

.label {
  opacity: 0.57;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #fff !important;
}

.description {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #fff !important;
  text-align: center;
}

.description_muted {
  opacity: 0.3 !important;
}

.sidebar{
  position: absolute;
  width: 20%;
  height: 100%;
  margin-top: -54px;
}

.sidebarComp{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -54px;
}

.sidebarInactive{
  background: #646464;
}

.sidebarActive{
  background: #113561;
}

.spaceLogo{
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
  height: 54px;
  line-height: 2.7;
}

.spaceLogoComp{
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
  height: 110px;
  line-height: 2.7;
}

.imageLogo{
  transform: scale(0.5);
}

.imageLogoComp{
  transform: scale(0.5);
  height: 145%;
  width: -webkit-fill-available !important;
}

.margin-reservation{
  padding-bottom: 0px !important;
}

.p-menuButton .p-button{
  border: 0 !important;
  width: 100% !important;
  height: 54px !important;
  border-radius: 0% !important;
  color: white;
  font-size: 14.5px;
  padding: 10% !important;
}

.p-menuBlocked .p-button{
  background-color: #B9B9B9 !important;
}

.p-menuReservation .p-button{
  background-color: #113561 !important;
  padding-left: 20% !important;
  padding-right: 15% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

.p-menuReservationActive .p-button{
  background-color: white !important;
  color: $blue-primary !important;
  padding-left: 20% !important;
  padding-right: 15% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

.p-menubar-button {
  display: none !important;
}

.p-administration .p-button{
  background-color: #113561 !important;
  align-items: center;
  padding-left: 20% !important;
  padding-right: 15% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

.p-menu-overlay{
  width: 90% !important;
  margin-left: 5% !important;
}

.white__line{
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgb(96, 96, 96), rgba(255, 255, 255), rgba(96, 96, 96));
}

#line_shade{
  margin: 0% !important;
  width: 100% !important;
  padding: 0% !important;
  
}

.image{
  width: 20px;
  height: 20px;
}

.imageIcon{
  margin-left: 5%;
}

.imageCalendar{
  margin-right: 5%;
  margin-left: 5%;
}


.imageArrow{
  width: 35px;
}

.text{
  margin-left: 10%;
}

.p-sidebar-header{
  width: 0;
  height: 0;
  margin: 0;
  padding: 0 !important;
}

.p-sidebar-content{
  margin: 0 !important;
  padding: 0 !important;
}

.p-sidebar-left{
  border: 0 !important;
}