:host ::ng-deep .p-card {
  background: rgb(6, 102, 251);
  width: 22rem;
  border-radius: 0;
  border-bottom: none;
  box-shadow: none;
  height: 100%;

  .p-button {
    background: transparent;
    border: transparent;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .p-field > label {
    color: rgb(146, 188, 253);
  }

  .p-field > div  {
    color: rgb(146, 188, 253);
  }

  .p-card-body {
    box-shadow: none;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  
  .p-d-flex {
    justify-content: space-around;
    align-items: center;
  }

  .p-button-rounded {
    display: none;
  }
  
  @media screen and(max-width:530px) {
      width: 100%;
      height: 100%;
      position: absolute;
      .p-d-flex{
        position: static;
      }
      .p-button-rounded {
        display: flex;
      }
  }

  .p-inputtext {
    background: transparent;
    border: 0px transparent;
    border-bottom: 2px solid rgb(146, 188, 253);
    color: #b6d6f5;
  }

  .p-inputtext::placeholder {
    text-justify: auto;
    color: rgb(146, 188, 253);
  }
  .p-card-content {
    padding: 1rem 0 0 0;
  }

  .container{
    margin-left: 145px ;
  }

}


