<ul>
    <li><a routerLink ="/admin/floors/list">Go to floor list</a></li>
    <li><a routerLink ="/admin/floors">Go to floor</a></li>
<ul>
    <li>
        <a routerLink="/admin/rooms/list">Go to Room List</a>
    </li>
    <li>
        <a routerLink="/admin/rooms">Go to Rooms</a>
    </li>
    <li>
        <a routerLink="/admin/workstations">Go to Workstation</a>
    </li>
    <li>
        <a routerLink="/admin/workstations/list">Go to Workstation List</a>
        <a routerLink="/admin/domains/list">Go to Domains list</a>
    </li>
</ul>
