<div 
    class="sidebar" 
    [ngClass]="{'sidebarActive': display, 'sidebarInactive': !display }">
    <h2 class="spaceLogo">
        <img 
            class="imageLogo" 
            src="assets/images/logos/logo.svg">
    </h2>
    <p-button 
        class="p-menuButton"
        [ngClass]="{'p-menuBlocked': blocked}" 
        (onClick)="changeDisplay(true)"
        [disabled]="blocked"
        [routerLink]="routeName.addReservation">
        <p class="text">Generar una reserva</p>
        <img 
            class="image imageIcon" 
            [src]="generateReservationIcon">
    </p-button>
    
    <p-button 
        class="p-menuButton p-menuReservation" 
        [ngClass]="{'p-menuReservation': display, 'p-menuReservationActive': !display}"
        (onClick)="changeDisplay(false)"
        [disabled]="false"
        [routerLink]="routeName.viewReservation">
        <img 
            class="image imageCalendar" 
            [src]="myReservationIconCalendar">
        <p>Mis reservas</p>
        <img 
            class="imageArrow"
            [src]="myReservationIconArrow">
    </p-button>
    <p-button 
        class="p-menuButton p-administration"
        (click)="menu.toggle($event)">
        <p class="text">Administración</p>
    </p-button>
    <p-menu 
        #menu 
        [popup]="true" 
        [model]="items">
    </p-menu>
</div>
