<div
    class="full-height"
    [ngStyle]="{'background-color': isEditingReservation ? '#113561' : '#646464'}">
    <div 
        class="p-d-flex p-ai-center p-jc-center"
        style="background-color: white; padding: 1rem;">
        <img 
            style="width: 80%;"
            src="assets/images/logos/logo.svg">
    </div>
    <div>
        <p-button 
            class="p-menuButton"
            [ngClass]="{'p-menuBlocked': isBlockedReservation}" 
            (onClick)="changeEditReservation(true);"
            [disabled]="isBlockedReservation"
            [routerLink]="routeName.addReservation">
                <p class="text">Generar una reserva</p>
                <img 
                    class="image imageIcon" 
                    [src]="generateReservationIcon">
        </p-button>
    </div>
    
    <p-button 
        class="p-menuButton p-menuReservation" 
        [ngClass]="{'p-menuReservation': isEditingReservation, 'p-menuReservationActive': !isEditingReservation}"
        (onClick)="changeEditReservation(false)"
        [disabled]="false"
        [routerLink]="routeName.homeReservation">
        <img 
            class="image imageCalendar" 
            [src]="myReservationIconCalendar">
        <p>Mis reservas</p>
        <img 
            class="imageArrow"
            [src]="myReservationIconArrow">
    </p-button>

    
    <p-button 
        *ngIf = "validateAdmins('spinilla@asesoftware.com')"
        class="p-menuButton p-administration"
        (click)="menu.toggle($event)" 
        >   
        <img 
            class="imageCalendar" 
            [src]= "myAdminIcon">    
        <p>Administración</p> 
        <img 
            class="imageArrow"
            [src]="myAdminArrowIcon">
    </p-button>

    <hr class="white__line" id="line_shade">

    <p-tieredMenu 
        #menu 
        [popup]="true" 
        [model]="items"
        >
    </p-tieredMenu >
</div>
