<p-toast></p-toast>

<p-confirmDialog 
    [style]="{width: '50vw'}" 
    [baseZIndex]="10000" 
    acceptLabel="Aceptar"
    rejectLabel="Cancelar"
    acceptButtonStyleClass="p-button-success"
    rejectButtonStyleClass="p-button-danger">
</p-confirmDialog>
<app-menu></app-menu>

<app-sidebar 
[display]="display"
(onHide)="display = false"></app-sidebar>

<div class="p-mt-2 position-relative">

    <!-- <router-outlet></router-outlet> -->

    <app-reservation-form></app-reservation-form>

    <app-reservation-summary></app-reservation-summary>

    <button 
        pButton 
        pRipple 
        type="button" 
        icon="pi pi-bars"
        class="p-button-rounded p-button-secondary button-sticky-bottom p-my-2"
        (click)="display = true">
    </button>

</div>

<app-time-period-slider></app-time-period-slider>
