.box1{
    transform: scale(1);
    margin-left: 228px;
    font-family: Roboto;
}
.box2{
    transform: scale(0.8);
    margin-top: 3%;
}
.margin-sidebar{
    margin-top: 0px;
}
.margin-reservation{
    margin-left: 208px;
}