.dimensions{
  height: 24rem;
  max-width: 335px;
  text-align: center;

}
.green__division{
  background-color: #5ebc00;
}
.noHaveReservatio{
  margin-left: 109px;
}
.noReservation{
  opacity: 0.7;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-navy-blue);
}
.question{
  display: block;
  margin: auto;
  max-width: 297;
  object-fit: contain;
  opacity: 0.7;
  font-size: 128px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-navy-blue);
}

.reservationGeneral{
  padding-top: 0 !important;
}
.reservation__background{
  max-width: 24rem;
  background-color: #606060;
}
.reservation__pipe-divider {
  font-size: 0.5rem;
}
.reservation__salaOrJob{
  max-width: 11.25rem;
  max-width: 5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reservation__subtitle {
  font-size: 1.3125rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  opacity: 0.56;
  display: flex;
  align-items: center;
}
.reservation__subtitle-2 {
  font-size: 1.0625rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  opacity: 0.56;
  display: flex;
  align-items: center;
}
.reservation__title {
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.reservation__text {
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  opacity: 0.56;
}
.reservation__text-small {
  font-size: 0.9375rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.reservation__text-small-2 {
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

:host ::ng-deep {
  .reservation__button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .reservation__button:focus {
    outline: none;
    box-shadow: none;
  }

  .reservation__controls-button:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (max-width:576px) {
  .workStationMedia{
    width:3.5rem;
  }

  .transportMedia{
    width:4rem;
  }
}