<div >
        
        <div [ngStyle]="{ 'width': '24rem','background-color': '#606060' }">
            <div class="p-p-2" [ngStyle]="{'height': '11rem' }">
                <div class="p-grid" [ngStyle]="{'width':'100%','height': '7rem' }">
                    <div class="p-col-4 p-d-flex p-flex-column p-jc-center p-ai-center">
                            <img src="assets/images/icons/workstation.svg">
                            <p class="p-mt-2 p-mb-0">Reserva</p>
                                    
                                
                    </div>
                    <div class="p-col-8 p-d-flex p-flex-column p-jc-center p-ai-end">
                            <h1 class="p-m-2">11/06/2021</h1>
                            <h3 class="p-m-2">8:00 am | Medio dia</h3>
                    </div>
                </div>
                <div class="p-d-flex p-jc-end p-ai-center" [ngStyle]="{ 'height': '4rem' }">
                    <h5 class="p-m-2">Piso 18 | Sala 3 | 3 personas</h5>
                </div>
            </div>
            <hr [style]="{'height':'2px','border':'0','background-image': 'linear-gradient(to right, rgb(96, 96, 96), rgba(255, 255, 255), rgba(96, 96, 96))'}">
            <div class="p-grid p-m-0" [ngStyle]="{}">
                <div class="p-col p-d-flex p-flex-column p-jc-center p-ai-center">
                    <h5 class="p-mt-5"> 
                        Medio de transporte
                    </h5>
                    <div class="p-d-flex p-jc-center p-ai-center">
                        <img class="p-mr-2" src="assets/images/icons/bicycle.svg">  
                        Bicicleta
                    </div>
                </div>
                <div class="p-col p-d-flex p-flex-column p-jc-center p-ai-center">
                    <h5>Marca</h5>
                    <p class="p-mt-3"> 
                        Rockbuster ST1000
                    </p>
                </div>
            </div>
            <div class="p-grid p-m-0" [ngStyle]="{'background-color': '#5ebc00'}">
                <div class="p-col-2 p-d-flex p-jc-center p-ai-center">
                    <img src="assets/images/icons/eye-white.svg">
                </div>
                <div class="p-col-10 p-d-flex p-jc-start p-ai-center" [style]="{'color':'white','font-family': 'Roboto'}">
                    <p>
                            Estas listo para ingresar a las oficinas ¡Te extrañabamos!
                            En la puerta de ingreso reconócete con WhoAmEye para que el sistema sepa que llegaste a tu reserva.
                    </p>
                </div>
            </div>
        </div>
</div> 