<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center p-mb-4">

    <h3> {{ viewTitle }} </h3>
    <a 
        pButton 
        [routerLink]="[routeName.FloorEdit, floor?.idPiso]" 
        class="button-link p-button-info p-m-1" 
        icon="pi pi-pencil" 
        pTooltip="Editar" 
        tooltipPosition="top">
    </a>

</div>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <p> Nombre </p>
        <p><strong> {{ floor?.nombre }} </strong></p>
    </div>

    <div class="p-field p-col">
        <p> Numero de piso </p>
        <p><strong> {{ floor?.numeroPiso }} </strong></p>
    </div>
</div>
<p-divider></p-divider>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <p> Aforo Maximo </p>
        <p><strong> {{ floor?.aforoMaximo }} </strong></p>
    </div>
     <div class="p-field p-col">
        <p> Sucursal Relacionada </p>
        <p><strong> {{floor?.sucursalEntity?.nombre}}  </strong></p>
    </div>
</div>

