<div class="p-fluid">
  <div class="p-card">
      <div class="p-grid">
        
        </div>
            <div class="p-field">
              <label 
                class="p-textHour">
                Periodo de tiempo por horas (salas)
              </label>
            </div>
        
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3 ">
               
            <label class="p-timeFrame" for="countries" >
               <div class="p-listHour">
                    <a class="p-listHour" *ngIf="hour==4" (click)="importValue(4,initialTime)">2Horas<br></a>
                    <a class="p-listHour p-opacities" *ngIf="hour!=4" (click)="importValue(4,initialTime)">2Horas<br></a>
                    <a class="p-listHour" *ngIf="hour==2" (click)="importValue(2,initialTime)">1Horas<br></a>
                    <a class="p-listHour p-opacities"  *ngIf="hour!=2" (click)="importValue(2,initialTime)">1Horas<br></a>
                    <a class="p-listHour" *ngIf="hour==1" (click)="importValue(1,initialTime)">30min<br></a>
                    <a class="p-listHour p-opacities"  *ngIf="hour!=1" (click)="importValue(1,initialTime)">30min<br></a>                    
                
                </div> 
            </label>
        </div>
    
            <div class="p-col-9">
                <div class="p-grid p-selectTime">
                    <div class="p-col">
                        {{ startTime }}
                    </div>
                    <div class="p-col">
                        {{ endTime }}
                    </div>

                </div>
                <div class="p-col">
                    <div class="p-grid">
                      <div class="p-col-2">
                          <button
                          class="btn btn-primary p-buttonnext"
                          (click)="previousValue()"
                          ><b>{{simbol}}</b></button>
                      </div>
                      <div class="p-col-8">
                          <p-slider 
                          class="p-slider1"
                          [(ngModel)]="rangeValues" 
                          [min]="0" 
                          [max]="18" 
                          [disabled]="true"
                          [range]="true"></p-slider>               
                      </div>
                      <div class="p-col-2 ">
                          <button
                          class="btn btn-primary p-buttonnext1"
                          (click)="nextValue()"
                          ><b>{{simbol2}}</b></button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</div>