:host ::ng-deep .p-calendar .p-datepicker {
    min-width: auto;
    color: black;
    border-radius: 0px;
    padding: 8%;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.13);
    background-color: var(--white);
    background-color: rgb(154 218 253 / 43%);
    backdrop-filter: blur(30px);
    font-weight: bold;
    
}
@media screen and (min-width:793px) {
    :host ::ng-deep .p-calendar .p-datepicker{
        margin-left: 110px;
    }
}

// @media screen and (max-width:530px) {
//     :host ::ng-deep .p-calendar .p-datepicker{
//         padding: 0%;
//         border: none;
//         transform: scale(0.9);
//         background-color: #97CAFA;
//         width: 100%;
//         backdrop-filter: none;
//     }
// }


:host ::ng-deep .p-datepicker .p-datepicker-header {
    background: none;
    border-bottom:none;
    display: inline-flex;
    float: left;
}

:host ::ng-deep .p-datepicker table td > span {
    margin: 0.2rem;
    border: 0;
}

:host ::ng-deep  .p-datepicker table td > span.p-highlight {
    color: #ffffff;
    border-radius: 100%;
}

:host ::ng-deep .p-datepicker td>span, .p-monthpicker-month {
    border-radius: 100%;
    margin: 100rem;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today > span {
    background: #ced4da;
    color: #212529;
    border-color: transparent;
    border-radius: 100%;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: #ffffff;
    background: #0666fb;
    border-radius: 100%;
}

:host ::ng-deep .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    background: #2e2ea5;
    color: white;
}

:host ::ng-deep .pi-chevron-right:before {
    color: black;
}
:host ::ng-deep .pi-chevron-left:before {
    color: black;
}

:host ::ng-deep .tarde{
    background: linear-gradient(to bottom, transparent 50%, #fa729c 50%);
}
:host ::ng-deep .mañana{
    background: linear-gradient(to bottom, #fa729c 50%, transparent 50%);
}
:host ::ng-deep .dia{
    background: #fa729c;
    color: white;
}