:host ::ng-deep .p-calendar .p-datepicker {
    min-width: auto;
    background-color: rgb(230, 230, 250, 0.7);
    color: black;
    border-radius: 0px;
    padding: 8%;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: #ffffff;
    background: #007bff;
    border-radius: 100%;
}

:host ::ng-deep  .p-datepicker table td > span.p-highlight {
    color: #ffffff;
    background: #007bff;
    border-radius: 100%;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today > span {
    background: #ced4da;
    color: #212529;
    border-color: transparent;
    border-radius: 100%;
}

:host ::ng-deep .p-datepicker table td > span {
    margin: 0.2rem;
    border: 0;
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
    background: none;
    border-bottom:none;
    display: inline-flex;
    float: left;
}

:host ::ng-deep .p-datepicker td>span, .p-monthpicker-month {
    // background: rgba(247, 125, 230, 0.89)50%;
    border-radius: 100%;
    margin: 100rem;
}

:host ::ng-deep .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    // background: #e9ecef;
    background: #007bff;
    color: #ffffff;
}

/* :host ::ng-deep .p-datepicker-header .p-datepicker-title {
    display: none;
} */