<p>calendar works!</p>

<!-- <p-calendar name="value" [(ngModel)]="value" [inline]="true"></p-calendar> -->

<p-calendar name="dateValue" [(ngModel)]="dateValue" [inline]="true" [firstDayOfWeek]="1" [disabledDates]="invalidDates"
  (onMonthChange)="monthChange( $event.month )">
  <ng-template pTemplate="header">
    <div class="p-datepicker-header ng-tns-c58-1">
      <div class="p-datepicker-title1 ng-tns-c58-1">
        <span>fecha</span>
      </div>
    </div>
  </ng-template>
  <!-- <ng-template pTemplate="date" let-date>
    <span [ngStyle]="{}">{{date.day}}</span>
  </ng-template> -->
</p-calendar>
