@media screen and (max-width:530px) {
    .form{
        display: flex;
        transform: scale(0.9);
        margin: auto;
        margin-top: -2rem;
    }

    .p-field{
        margin-bottom: 1rem;
    }

    .description{
        margin-top: -1rem;
    }
    .p-my-5{
        margin-left: 2rem !important;
    }

    :host ::ng-deep .form-calendar-room{
        margin-top: 6.5rem !important;
    }

    :host ::ng-deep .form-calendar-floor{
        margin-top: 0 !important;
    }
}