<!-- <div>
    
    <app-view-reservation *ngIf="true"></app-view-reservation>
    <ng-template #edit>
        <app-edit-reservation></app-edit-reservation>
    </ng-template>
    
</div> -->
<app-edit-reservation></app-edit-reservation>

<!-- <div class="p-grid p-flex-column" [ngStyle]="{ 'width': '24rem', 'height': '22rem' }">
    <div class="p-col p-grid p-flex-column p-p-2" [ngStyle]="{ 'height': '11rem' }">
        <div class="p-col p-grid" [ngStyle]="{ 'height': '7rem' }">
            <div class="p-col-4 p-d-flex p-jc-center p-ai-center">1</div>
            <div class="p-col-8 p-d-flex p-flex-column p-jc-center p-ai-end">
                <span>1</span>
                <span>1</span>
            </div>
        </div>
        <div class="p-col p-d-flex p-jc-end p-ai-center" [ngStyle]="{ 'height': '4rem' }">1</div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col">2</div>
        <div class="p-col">2</div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-2">3</div>
        <div class="p-col-10">3</div>
    </div>
</div>

 -->
