<div class="viewEdit p-grid ">
    <div class="p-col-1 column__White"></div>
    <div class="p-col-8 column__center p-grid p-flex-column">
        <div class="reservation__edit p-d-flex p-jc-between p-ai-center">
            <span>Editar reserva</span>
            <span>
                <button pButton pRipple 
                                   type="button" 
                                   icon="pi pi-times"
                                   class="button__close " 
                                   (click)="showReservation1()">
                </button>
            </span>
        </div>
        <div class="reservation__background" >
            <div class= "style__backgruond1 p-pt-2 p-px-4 p-pb-4"  >                
                <div class="p-grid p-m-0" >
                    <div class="p-col-3 p-d-flex p-flex-column p-jc-center p-ai-center">
                        <img class="" [src]="'assets/images/icons/'+ workStationMedia">
                        <p class="reservation__text-small-2 p-mb-0">Reserva</p>
                    </div>
                    <div class="p-col-9 p-d-flex p-flex-column p-jc-center p-ai-end">
                        <h1 class="reservation__title p-mt-0 p-mb-2">{{ reservationDate }}</h1>
                        <h3 class="reservation__subtitle p-mt-0 p-mb-0">{{ currentReservation?.horaInicio}} &nbsp; <span
                                class="reservation__pipe-divider">|</span> &nbsp; {{ currentReservation?.horaFin}}
                        </h3>
                    </div>
                </div>            
            </div>
            <div class="style__backgruond2 p-d-flex p-flex-column p-m-0 p-py-3 "> 
                <div class="p-d-flex p-jc-center p-ai-center">
                    <p class="reservation__subtitle-2 p-my-0">Piso {{currentReservation?.idPiso}} &nbsp; 
                        <span class="reservation__pipe-divider">|</span>&nbsp;
                        <span class="reservation__salaOrJob">  {{salaOrJob}}</span> &nbsp;
                        <span class="reservation__pipe-divider">|</span> &nbsp; {{currentReservation?.numeroAsistentes | i18nPlural:usersMap}}</p>
                </div> 
                <div  class=" p-grid">
                    <div class="p-col p-d-flex p-flex-column p-jc-center p-ai-center">
                    <h5 class="reservation__text-small p-mt-1 p-mb-3">
                        Medio de transporte
                    </h5>
                    <div class="p-d-flex p-jc-center p-ai-center">
                        <img class="p-mr-2" [src]="transportMedia">
                        <p class="reservation__text"> {{typeVehicle}}</p>
                    </div>
                    </div>
                    <div class="p-col p-d-flex p-flex-column p-jc-center p-ai-center">
                        <h5 class="reservation__text-small p-mt-0">{{brandOrPlate}}</h5>
                        <p class="reservation__text p-my-0">
                            {{currentReservation?.placa}}
                        </p>
                    </div>
                </div>                       
                                
            </div> 
        </div>
        <div class="degrade__line"></div>
        <div class="reservation__cancel p-mt-5 p-d-flex p-jc-center" >
            <button pButton type="button"
                          label="Cancelar Reserva" 
                          icon="pi pi-times" 
                          class="cancel__button p-button-text"   
                          (click)="cancelReservation()">
            </button>
        </div>
    </div>
    <div class="p-col-9 column__White"></div>
</div>

