<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center p-mb-4">

    <h3> {{ formTitle }} </h3>
    <a  
        pButton
        [routerLink]="[routeName.RoomView, room?.idSala]"
        class="button-link p-button-info p-m-1"
        label="Ver">
    </a>

</div>

<form 
    [formGroup]="roomForm" 
    (ngSubmit)="save()">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="name">Nombre Sala</label>
            <input 
                id="name" 
                type="text" 
                formControlName="name" 
                placeholder="Nombre" 
                pInputText
                required
                minlength="3"
                maxlength="100">
        </div>
        <div class="p-field p-col">
            <label for="maxCapacity">Aforo máximo</label>
            <p-inputNumber 
                id="maxCapacity" 
                [showButtons]="true" 
                buttonLayout="horizontal" 
                spinnerMode="horizontal"
                decrementButtonClass="p-button-danger" 
                incrementButtonClass="p-button-success" 
                incrementButtonIcon="pi pi-plus" 
                decrementButtonIcon="pi pi-minus"
                formControlName="maxCapacity"
                [min]="0"
                [max]="100"
                requried>
            </p-inputNumber>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="domainState">Estado dominio</label>
            <input 
                id="domainState" 
                type="text" 
                formControlName="domainState" 
                placeholder="Estado dominio" 
                pInputText
                required>
        </div>
        <div class="p-field p-col">
            <label for="floorId">Piso relacionado</label>
            <p-dropdown 
                [options]="floors"
                optionLabel="nombre"
                optionValue="idPiso"
                emptyMessage="No se encontraron resultados"
                placeholder="Piso relacionado"
                formControlName="floorId"
                requried>
            </p-dropdown>
        </div>
    </div>

    <div class="p-d-flex p-jc-end p-mt-4">
        <button 
            pButton 
            type="submit" 
            class="p-button-success" 
            [label]="buttonLabel"
            [disabled]="!roomForm.valid">
        </button>
    </div>

</form>