<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center p-mb-4">

    <h3> {{ formTitle }} </h3>
    <a 
        pButton
        [routerLink]="[routeName.DomainView, domain?.codigoDominio, domain?.valorDominio, domain?.descripcion]"
        class="button-link p-button-help p-m-1" 
        icon="pi pi-eye"
        pTooltip="Ver"
        tooltipPosition="top"
        *ngIf="isEditing">
    </a>

</div>

<form 
    [formGroup]="domainForm" 
    (ngSubmit)="save()">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="codigoDominio">Codigo Dominio</label>
            <input 
                id="codigoDominio" 
                type="text" 
                formControlName="codigoDominio" 
                placeholder="CodigoDominio"
                class="p-text-uppercase" 
                pInputText
                [readonly]="isEditing"
                required
                minlength="1"
                maxlength="200">
        </div>
        <div class="p-field p-col">
            <label for="valorDominio">Valor Dominio</label>
            <input
                id="valorDominio" 
                type="text"
                formControlName="valorDominio"
                placeholder="ValorDominio" 
                class="p-text-uppercase"
                pInputText
                required
                minlength="1"
                maxlength="5">
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="descripcion">Descripcion</label>
            <input 
                id="descripcion" 
                type="text" 
                formControlName="descripcion" 
                placeholder="Descripcion" 
                class="p-text-uppercase"
                pInputText
                required                
                [readonly]="isEditing"
                minlength="1"
                maxlength="200">
        </div>
        
    </div>

    <div class="p-d-flex p-jc-end p-mt-4">
        <button 
            pButton 
            type="submit" 
            class="p-button-success" 
            [label]="buttonLabel"
            [disabled]="!domainForm.valid">
        </button>
    </div>

</form>