.p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12 {
    flex: 0 0 auto;
    padding: 0rem;
}

.models{
    width: 700px; 
    height: 500px; 
    margin-left: 3%
}

:host ::ng-deep .models {
@media screen and(max-width:530px) {
     width: 360px;
    }
}

 