<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between p-ai-center p-mb-4">

    <h3> {{ formTitle }} </h3>
    <a 
        pButton 
        [routerLink]="[routeName.WorkstationView, workstation?.idPuestoTrabajo]" 
        class="button-link p-button-help p-m-1" 
        icon="pi pi-eye" 
        pTooltip="Ver" 
        tooltipPosition="top"
        *ngIf="isEditing">
    </a>

</div>

<form 
    [formGroup]="workstationForm" 
    (ngSubmit)="saveWorkstation()">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="name">Nombre</label>
            <input 
                id="name" 
                type="text" 
                formControlName="name" 
                placeholder="Nombre" 
                pInputText
                required
                minlength="3"
                maxlength="100">
        </div>
    
    </div>

    <div class="p-fluid p-formgrid p-grid">
       
        <div class="p-field p-col">
            <label for="codigoDominio">Estado dominio</label>
            <p-dropdown 
                id="codigoDominio" 
                [options] = "domainStates"
                optionLabel="descripcion"
                optionValue="valorDominio"
                emptyMessage="No se encontraron resultados"
                placeholder="Estado dominio"
                formControlName="domainState"
                requried>
            </p-dropdown>
        </div>
      
        <div class="p-field p-col">
            <label for="codigoDominio">Tipo dominio</label>
            <p-dropdown 
                id="codigoDominio" 
                [options] = "domainTypes"
                optionLabel="descripcion"
                optionValue="valorDominio"
                emptyMessage="No se encontraron resultados"
                placeholder="Tipo dominio"
                formControlName="domainType"
                requried>
            </p-dropdown>
        </div>

        <div class="p-field p-col">
            <label for="floorId">Piso relacionado</label>
            <p-dropdown 
                id="floorId"
                [options] = "floors"
                optionLabel="nombre"
                optionValue="idPiso"
                emptyMessage="No se encontraron resultados"
                placeholder="Piso relacionado"
                formControlName="floorId"
                requried>
            </p-dropdown>
        </div>
    </div>

    <div class="p-d-flex p-jc-end p-mt-4">
        <button 
            pButton 
            type="submit" 
            class="p-button-success" 
            [label]="buttonLabel"
            [disabled]="!workstationForm.valid">
        </button>
    </div>

</form>